[  {    "id": "demo",    "name": "demo",    "image": {      "name": "zhitingtech/demo-plugin",      "tag": "latest",      "registry": "docker.io",      "secure": false    },    "logo_url": "plugin_logo_url",    "version": "0.0.1",    "brand": "demo",    "info": "demo",    "support_devices": [      {        "logo_url": "device_logo_url",        "model": "M1",        "name": "device_name"      }    ]  }]